<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .listItem {
        display: flex;
        height: 130px;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #ccc;
        padding: 10px 0;
      }
      .checkAll {
        height: 50px;
        line-height: 50px;
      }
    </style>
  </head>
  <body>
    <div id="root">
      <div>{{checkList}}</div>
      <input type="checkbox" v-model="isAllChecked" />全选/全不选
      <div v-for="item,index in datalist" :key="item.id" class="listItem">
        <input type="checkbox" v-model="checkList" :value="item" />
        <img :src="item.poster" alt="" style="height: 110px" />
        <div>
          <div>{{item.title}}</div>
          <div style="color: red">{{item.price}}</div>
        </div>
        <div>
          <input
            type="button"
            value="-"
            :disabled="item.number <= 1"
            @click="item.number--"
          />
          <span>{{item.number}}</span>
          <input
            type="button"
            value="+"
            :disabled="item.number >= item.limit"
            @click="item.number++"
          />
        </div>
        <div>
          <input type="button" value="delete" @click="handleDel(item.id)" />
        </div>
      </div>
      <div>总和：{{sum}}</div>
    </div>
  </body>
  <script src="./vue3.js"></script>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          checkList: [],
          datalist: [
            {
              id: 1,
              title: '商品1',
              price: 10,
              number: 1,
              poster:
                'https://p0.meituan.net/movie/dc2fed6001e809e4553f90cc6fad9a59245170.jpg@1l_1e_1c_128w_180h',
              limit: 5,
            },
            {
              id: 2,
              title: '商品2',
              price: 20,
              number: 2,
              poster:
                'https://p0.meituan.net/moviemachine/3084e88f63eef2c6a0df576153a3fad0327782.jpg@1l_1e_1c_128w_180h',
              limit: 5,
            },
            {
              id: 3,
              title: '商品3',
              price: 30,
              number: 3,
              poster:
                'https://p0.meituan.net/movie/897b8364755949226995144bfc2261ee4493381.jpg@1l_1e_1c_128w_180h',
              limit: 5,
            },
          ],
        };
      },
      computed: {
        sum() {
          return this.checkList.reduce(
            (total, item) => total + item.number * item.price,
            0
          );
        },
        isAllChecked: {
          get() {
            return this.datalist.length === this.checkList.length;
          },
          set(checked) {
            // console.log(checked);
            this.checkList = checked ? this.datalist : [];
          },
        },
      },
      methods: {
        handleDel(id) {
          this.datalist = this.datalist.filter((item) => item.id !== id);
          // 同步更新checkList
          this.checkList = this.checkList.filter((item) => item.id !== id);
        },
      },
    });
    app.mount('#root');
  </script>
</html>
